.section {
    width: 100vw;
    height: 400vh;
    display: flex;
    flex-direction: column;
}

.section1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}